* {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#header_admincp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#menu_admincp {
  display: inline-block;
}

#menu_admincp > li {
  display: inline-block;
}

#menu_admincp li {
  position: relative;
}

#menu_admincp > li > a {
  color: #fff;
  text-transform: uppercase;
}

#menu_admincp li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
  transition: all 0.3s linear;
}

#menu_admincp > li:hover > a {
  color: #000;
  background-color: #ccc;
}
p.content1 {
  text-align: center;
  color: #000;
  font-size: 28px;
  font-weight: 700;
}
.clear {
  clear: both;
}
h3.title_admin {
  margin: 0;
  text-align: center;
  font-size: 50px;
  color: #2c2c2c;
  background-color: slategray;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
  height: 75px;
  padding-top: 5px;
  margin-top: 46px;
}
h3.title_admin a {
  color: black;
  text-decoration: none;
}

#slider_admincp {
  position: relative;
  padding-top: 50%;
  margin-top: 0;
  background: url('https://cdn.shopify.com/s/files/1/0644/2958/8701/files/285520268_1422725164910999_4575584532746601573_n_fdfb154b-f20a-4c0f-b084-b720c0339917_1950x.jpg?v=1663064705') top center / cover no-repeat;
}

#slider_admincp .text-content {
  position: absolute;
  bottom: 46px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#slider_admincp .text-heading {
  font-weight: 500;
  font-size: 30px;
}
#slider_admincp .text-discription {
  font-size: 18px;
  margin-top: 10px;
}
.wrapper {
  border: 2px;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

img {
  border-radius: 30%;
}

main {
  background-color: #dddddd;
  min-height: 400px;
  padding: 60px 15px;
}
#footer {
  background-color: lightslategray;
  min-height: 70px;
  padding: 15px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.login-form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 15px;
  border: 2px dotted #cccccc;
  border-radius: 10px;
}
h1 {
  color: #009999;
  font-size: 20px;
  margin-bottom: 30px;
}
.input-box {
  margin-bottom: 10px;
}
.input-box input {
  padding: 7.5px 15px;
  width: 100%;
  border: 1px solid #cccccc;
  outline: none;
}
.btn-box {
  text-align: right;
  margin-top: 30px;
}
.btn-box button {
  padding: 7.5px 15px;
  border-radius: 2px;
  background-color: #009999;
  color: #ffffff;
  border: none;
  outline: none;
}
table.table.table-hover.table-dark {
  margin: 0;
}
a.keychainify-checked {
  color: #ccc;
  transition: all 0.2s linear;
}
a.keychainify-checked:hover {
  color: pink;
}
select {
  word-wrap: normal;
  /* width: 100%; */
  padding: 10px 15px;
  border-radius: 4px;
  background-color: aquamarine;
}
input[type="submit"] {
  word-wrap: normal;
  /* width: 100%; */
  padding: 10px 15px;
  border-radius: 4px;
  background-color: green;
  color: aliceblue;
}
